@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-base-100;
}

.rounded-lg {
  border-radius: 1.625rem;
}

.navbar {
  @apply rounded-lg;
  padding: 1rem 1.5rem;
  @apply bg-neutral;
  @apply mx-auto;
}

#drawer-menu {
  border-radius: 1.25rem;
  padding: 1rem;
  @apply bg-neutral;
}
