@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: auto;
  @apply bg-base-100;
  color: #f2f2f2;
  @apply max-w-7xl;
  @apply mx-auto;
}

.textarea {
  @apply resize-none;
}

.drawer-side {
  @apply z-10;
}

.rounded-lg {
  border-radius: 1.625rem;
}

.navbar {
  @apply rounded-lg;
  padding: 1rem 1.5rem;
  @apply bg-neutral;
  @apply mx-auto;
}

#drawer-menu {
  border-radius: 1.25rem;
  padding: 1rem;
  @apply bg-neutral;
}

.sections > a:hover {
  background-size: 500% 110%;
}

.animated-box {
  @apply p-6;
  border-radius: 44px;
}

@property --secondary-green {
  syntax: '<color>';
  initial-value: #3cdba2;
  inherits: false;
}

@property --primary-blue {
  syntax: '<color>';
  initial-value: #0045ff;
  inherits: false;
}

@property --primary-gradient {
  syntax: '<color>';
  initial-value: #3cdba2;
  inherits: false;
}

@property --secondary-gradient {
  syntax: '<color>';
  initial-value: #0045ff;
  inherits: false;
}

.about {
  --primary-gradient: #0045ff;
  --secondary-gradient: #0045ff;
  background: linear-gradient(
    120deg,
    var(--primary-gradient),
    var(--secondary-gradient),
    var(--primary-gradient)
  );
  transition: --primary-gradient 0s, --secondary-gradient 1s;
}

.about:hover {
  --primary-gradient: #0045ff;
  --secondary-gradient: #3cdba2;
}

.projects {
  --primary-gradient: #202020;
  --secondary-gradient: #202020;
  background: linear-gradient(
    144deg,
    var(--primary-gradient),
    var(--secondary-gradient),
    var(--primary-gradient)
  );
  transition: --primary-gradient 3s, --secondary-gradient 3s;
}

.projects:hover {
  --primary-gradient: #202020;
  --secondary-gradient: #3cdba2;
}

.contact {
  --primary-gradient: #ededed;
  --secondary-gradient: #ededed;
  background: linear-gradient(
    90deg,
    var(--primary-gradient),
    var(--secondary-gradient),
    var(--primary-gradient)
  );
  transition: --primary-gradient 3s, --secondary-gradient 3s;
}

.contact:hover {
  --primary-gradient: #ededed;
  --secondary-gradient: #3cdba2;
}

.experience {
  --primary-gradient: #3cdba2;
  --secondary-gradient: #3cdba2;
  background: linear-gradient(
    45deg,
    var(--primary-gradient),
    var(--secondary-gradient),
    var(--primary-gradient)
  );
  transition: --primary-gradient 3s, --secondary-gradient 3s;
}

.experience:hover {
  --primary-gradient: #3cdba2;
  --secondary-gradient: #0045ff;
}

.blog {
  --primary-gradient: #0045ff;
  --secondary-gradient: #0045ff;
  background: linear-gradient(
    30deg,
    var(--primary-gradient),
    var(--secondary-gradient),
    var(--primary-gradient)
  );
  transition: --primary-gradient 3s, --secondary-gradient 3s;
}

.blog:hover {
  --primary-gradient: #0045ff;
  --secondary-gradient: #3cdba2;
}

.gradientButton {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.sections > a {
  animation: gradient-animation 10s ease infinite alternate-reverse both;
}

.iconWrapper {
  @apply w-10;
  @apply h-10;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply rounded-xl;
}

.custom-carousel::-webkit-scrollbar {
  width: 1px;
  height: 2px;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #3cdba2;
  border-radius: 42px;
}

.error-page {
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 96px;
  letter-spacing: -7px;
}

.error-page-content {
  animation: glitch 1s linear infinite;
}

/* credits - https://codepen.io/pgalor/pen/OeRWJQ */
@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

.error-page-content:before,
.error-page-content:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

.error-page-content:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

.error-page-content:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}

.gradientButton {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
